.card-wrapper {
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  padding: 10px;
}

.card-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.card {
  background-color: #036b52;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 450px;
  padding: 15px;
  width: 300px;
}

.card-title {
  align-items: center;
  background-color: #014f3d;
  border-radius: 10px 10px 0 0;
  color: white;
  display: flex;
  font-weight: 600;
  height: 30px;
  justify-content: center;
  text-transform: uppercase;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  height: 250px;
  position: relative;
}

.image-card {
  align-self: center;
  max-height: 100%;
  position: absolute;
  width: 100%;
}

.super-trunfo {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  position: absolute;
  right: 0;
}

.super-trunfo p {
  opacity: 0;
}

.super-trunfo img {
  width: 50px;
}

.desc-card {
  align-items: center;
  background-color: #036b52;
  color: white;
  display: flex;
  font-size: 13px;
  line-height: 18px;
  margin-top: 170px;
  min-height: 75px;
  padding: 0 10px;
  position: absolute;
  text-align: justify;
  transform: rotate(-8deg);
  transform-origin: bottom left;
  width: 295px;
  word-break: break-word;
}

.attributes {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: flex-end;
}

.attr {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.attr .label {
  align-items: center;
  background-color: gainsboro;
  border-radius: 15px 0 0 15px;
  display: flex;
  padding: 0 10px;
  width: 100%;
}

.attr .value {
  align-items: center;
  background-color: #014f3d;
  border-radius: 0 15px 15px 0;
  color: white;
  display: flex;
  height: 20px;
  justify-content: flex-end;
  min-width: 15px;
  padding: 5px 10px;
}

.rare-card {
  align-self: center;
  background-color: rgb(165, 165, 165);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  margin: 5px;
  padding: 5px 10px;
  text-transform: uppercase;
}

.rare-card[ data-content = 'raro' ] {
  background-color: blue;
  color: white;
}

.rare-card[ data-content = 'muito raro' ] {
  background-color: purple;
  color: white;
}

.save-cards .card {
  height: 350px;
  width: 200px;
}

.save-cards .super-trunfo {
  margin-top: 40px;
  width: 30%;
}

.save-cards .super-trunfo img {
  width: 40px;
}

.save-cards .desc-card {
  align-items: center;
  font-size: 10px;
  line-height: 12px;
  margin-top: 55%;
  min-height: 60px;
  padding: 0 5px;
  transform: rotate(-5deg);
  width: 98%;
}

.save-cards .attr {
  font-size: 12px;
}

.save-cards .rare-card {
  font-size: 12px;
}

.card-container button {
  align-self: center;
  background-color: red;
  border: none;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 15%) 2.4px 2.4px 3.2px;
  color: white;
  cursor: pointer;
  font-weight: 800;
  height: 30px;
  margin-top: 20px;
  width: 30%;
}
